<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS2 Stats</title>
    <link rel="stylesheet" href="/styles/style-stats.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        <section class="secion-1">
            <div id="player-info"></div>
            <div id="recent-games"></div>
        </section>

        <section class="section-2">
            <div id="stats"></div>
        </section>

        <section class="section-3">
            <div id="map-stats"></div>
        </section>
    </div>
    <script type="module" src="/js/app.js"></script>
</body>

</html>